*.aux
*.bcf
*.log
*.out
*.pytxcode
*.tex
Makefile
*.run.xml
*.synctex.gz
*.toc
*.iso
disques.jpg
pas_disques.jpg
void_linux_script_install.sh
windows.iso
no_pilots.png
ventoy-1.0.96/*
ventoy-1.0.96/
VENTOY.tar.gz
PILOTS.zip
