*.aux
Documentation/*.aux
*.bcf
Documentation/*.bcf
*.log
Documentation/*.log
*.out
Documentation/*.out
*.pytxcode
Documentation/*.pytxcode
*.tex
Documentation/*.tex
Makefile
Documentation/Makefile
*.run.xml
Documentation/*.run.xml
*.synctex.gz
Documentation/*.synctex.gz
*.toc
Documentation/*.toc
*.iso
Documentation/*.iso
disques.jpg
Documentation/disques.jpg
pas_disques.jpg
Documentation/pas_disques.jpg
windows.iso
no_pilots.png
Documentation/no_pilots.png
ventoy-1.0.96/*
ventoy-1.0.96/
VENTOY.tar.gz
PILOTS.zip
check_ventoy_version.sh
spamtongspamton/
spamtongspamton/*
