PILOTS/*
*.aux
Documentation/*.aux
*.bcf
Documentation/*.bcf
*.log
Documentation/*.log
*.out
Documentation/*.out
*.pytxcode
Documentation/*.pytxcode
*.tex
Documentation/*.tex
Makefile
Documentation/Makefile
*.run.xml
Documentation/*.run.xml
*.synctex.gz
Documentation/*.synctex.gz
*.toc
Documentation/*.toc
*.iso
Documentation/*.iso
disques.jpg
Documentation/*.jpg
pas_disques.jpg
Documentation/*.png
windows.iso
no_pilots.png
Documentation/no_pilots.png
ventoy-1.0.97/*
ventoy-1.0.97/
VENTOY.tar.gz
check_ventoy_version.sh
spamtongspamton/
spamtongspamton/*
intel_rst_18.7.6.1010.3(station-drivers.com).zip
intel_rst_18.7.6.1010.3(station-drivers.com)/
intel_rst_18.7.6.1010.3(station-drivers.com)/*
intel_rst_16.8.4.1011(station-drivers.com).zip
intel_rst_16.8.4.1011(station-drivers.com)/
intel_rst_16.8.4.1011(station-drivers.com)/*
